html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.h1-image {
  vertical-align: middle;

  margin-right: 10px;

}

.entersomething,
.showthestats {
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid black;

}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}